@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, .route-view, .title, h1, h2, h3, h4, h5, h6, p, body, br {
    background-color: #92CC41 !important;
}

a:hover {
    color: #212529;
  }
  
a {
    color: #212529;
}

* {
    font-family: 'Press Start 2P', cursive;
}

::selection {
    background-color: #b9f06bab;
    border-radius: 5px;
    border-style: none;
}

p.title {
    font-size: 60px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #86b445;
}


::-webkit-scrollbar-thumb {
    background: #a3e04d;
}

::-webkit-scrollbar-thumb:hover {
    background: #9cd849ee;
}
/*Scrollbar*/

.copyright {
    font-size: 13px;
}